<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-3 my-auto">
      <img src="assets/images/restaurant.png" class="main-logo mr-4" />Luncher
    </h1>
    <p class="lead mt-3">
      You wake up after a long night of coding when your teammate is calling you
      asking where to meet for lunch in half an hour. Your mind is awkwardly
      silent as you try to think about a fast lunch place with a reasonable
      carbon footprint and suitable for your new diet.
    </p>
    <hr class="my-4" />

    <div class="lead" *ngIf="!lunch">
      <a class="btn btn-primary btn-lg" role="button" (click)="readyForLunch()">
        Create a new lunch group! <i class="far fa-success"></i>
      </a>
    </div>

    <div class="lead" *ngIf="lunch">
      <div class="text-center">
        <b>Here is your lunch invite url</b>
        <p class="mt-2">
          {{ lunchUrl }}
          <i class="far fa-copy ml-2 cursor-copy" (click)="copyUrl()"></i>
        </p>
        <button class="btn btn-success btn-lg mt-3">
          Join to this lunch <i class="far fa-thumbs-up"></i>
        </button>
      </div>
      <ul
        class="list-group"
        *ngIf="lunch && participants.length else noParticipants"
      >
        <li
          *ngFor="let participant of participants"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{participant.username}}
          <span class="badge badge-primary badge-pill">Ready</span>
        </li>
      </ul>
      <ng-template #noParticipants>
        <div class="text-center mt-5">
          <h3><i class="far fa-frown-open"></i> Lunch has no participants!</h3>
        </div>
      </ng-template>
      <div class="row">
        <div class="col-6">
          <app-food-card
            class="animate__animated animate__bounce"
            (click)="selectFood(foodType)"
            [foodType]="foodType"
          ></app-food-card>
        </div>
        <div class="col-6">
          <app-food-card
            (click)="selectFood(foodType2)"
            [foodType]="foodType2"
          ></app-food-card>
        </div>
      </div>

      <div class="text-center mt-3">
        <button class="btn btn-success btn-lg" *ngIf="hasParticipants">
          <i class="fas fa-check"></i> I'm ready for a lunch!
        </button>
      </div>
    </div>
  </div>
</div>
