<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-3 my-auto">
      <img src="assets/images/restaurant.png" class="main-logo mr-4" />Luncher
    </h1>
    <p class="lead mt-3">
      Deciding a lunch place has never been so easy. Launch your lunch now!
    </p>
    <hr class="my-4" />

    <div class="lead" *ngIf="!lunch">
      <a class="btn btn-primary btn-lg" role="button" (click)="readyForLunch()">
        Create a new lunch group! <i class="far fa-success"></i>
      </a>
    </div>

    <div class="lead" *ngIf="lunch">
      <div class="text-center" *ngIf="!lunch.restaurantId">
        <b>Here is your lunch invite url</b>
        <p class="mt-2">
          {{ lunchUrl }}
          <i class="far fa-copy ml-2 cursor-copy" (click)="copyUrl()"></i>
        </p>
        <ng-template #popContent>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="My name is..."
              [(ngModel)]="username"
            />
            <div
              class="input-group-append pointer no-select"
              (click)="joinLunch()"
            >
              <span class="input-group-text">Join</span>
            </div>
          </div>
        </ng-template>
        <ng-template #popTitle>Hey, what's your name?</ng-template>
        <button
          [autoClose]="'outside'"
          [ngbPopover]="popContent"
          [popoverTitle]="popTitle"
          class="btn btn-success btn-lg mt-3"
          *ngIf="!participant"
        >
          Join to this lunch <i class="far fa-thumbs-up"></i>
        </button>
      </div>
      <app-food-selector
        (select)="selectFood($event)"
        [choices]="choices"
        *ngIf="participant && participant?.status !== 'Ready' && !lunch.restaurantId"
      ></app-food-selector>
      <div
        class="text-center"
        *ngIf="participant?.status !== 'Ready' && choiceCount > 4"
      >
        <button class="btn btn-success btn-lg" (click)="setReady()">
          I'm ready
        </button>
      </div>

      <div *ngIf="lunch && participants.length else noParticipants">
        <h4 class="mb-3">Participants</h4>
        <ul class="list-group">
          <li
            *ngFor="let participant of participants"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{participant.username}}
            <span
              class="badge badge-primary badge-pill"
              *ngIf="participant.status === 'Ready'"
              >Ready</span
            >
            <span
              class="badge badge-warning badge-pill"
              *ngIf="participant.status === 'Pending'"
              >Pending</span
            >
          </li>
        </ul>
      </div>
      <ng-template #noParticipants>
        <div class="text-center mt-5">
          <h3><i class="far fa-frown-open"></i> Lunch has no participants!</h3>
        </div>
      </ng-template>
      <div class="text-center mt-3">
        <button
          class="btn btn-success btn-lg"
          *ngIf="hasParticipants && !lunch.restaurantId"
          (click)="suggestRestaurant()"
        >
          <i class="fas fa-check"></i> We are ready for a lunch!
        </button>
      </div>
      <div *ngIf="restaurant" class="text-center mt-5">
        <h4 class="mb-4">Selected restaurant</h4>
        <h1 class="text-primary">{{restaurant.name}}</h1>
      </div>
    </div>
  </div>
</div>
